@using BusinessLogic.DTOs
@using DataAccess.Data
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@page "/profile"
@inject UserManager<User> UserManager
@inject IUserManagement userService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider

@inherits ComponentBase

<style>
    .small-input {
        width: 15%; /* Adjust the width as needed */
    }
</style>

<div class="container">
    <h1>Profil</h1>
    <div class="col-md-4">
        <div class="card mb-3 shadow" style="border: #E0F2F1;">
            <div class="card-body" style="background-color: #E0F2F1;">
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0" style="font-weight: bold">ID:</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @userDto.Id
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0" style="font-weight: bold">Név:</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @userDto.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0" style="font-weight: bold">Email:</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @userDto.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0" style="font-weight: bold">Lakcím:</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @userDto.Address
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em" width="2em" viewBox="0 0 512 512"><path d="M496.101 385.669l14.227 28.663c3.929 7.915.697 17.516-7.218 21.445l-65.465 32.886c-16.049 7.967-35.556 1.194-43.189-15.055L331.679 320H192c-15.925 0-29.426-11.71-31.679-27.475C126.433 55.308 128.38 70.044 128 64c0-36.358 30.318-65.635 67.052-63.929 33.271 1.545 60.048 28.905 60.925 62.201.868 32.933-23.152 60.423-54.608 65.039l4.67 32.69H336c8.837 0 16 7.163 16 16v32c0 8.837-7.163 16-16 16H215.182l4.572 32H352a32 32 0 0 1 28.962 18.392L438.477 396.8l36.178-18.349c7.915-3.929 17.517-.697 21.446 7.218zM311.358 352h-24.506c-7.788 54.204-54.528 96-110.852 96-61.757 0-112-50.243-112-112 0-41.505 22.694-77.809 56.324-97.156-3.712-25.965-6.844-47.86-9.488-66.333C45.956 198.464 0 261.963 0 336c0 97.047 78.953 176 176 176 71.87 0 133.806-43.308 161.11-105.192L311.358 352z" /></svg>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @(userDto.Disabled ? "Rendelkezik" : "Nem rendelkezik")
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="mb-0" style="font-weight: bold">Jogosultság:</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                        @role
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Új Jelszó</h3>
    <div class="align-content-center">
        <form @onsubmit="ChangePassword" class="mt-4">
            <div class="mb-3 small-input">
                <label for="oldPassword" class="form-label">Régi jelszó:</label>
                <input type="text" id="oldPassword" @bind="oldPassword" class="form-control" />
            </div>

            <div class="mb-3 small-input">
                <label for="newPassword" class="form-label">Új jelszó:</label>
                <input type="text" id="newPassword" @bind="newPassword" class="form-control" />
            </div>

            <div class="mb-3 small-input">
                <label for="newPasswordAgain" class="form-label">Új jelszó újra:</label>
                <input type="text" id="newPasswordAgain" @bind="newPasswordAgain" class="form-control" />
            </div>


            <button type="submit" class="btn" style="background-color: #00695C; color: white;">Mentés</button>

            <div class="text-danger">@errorText</div>
            <div class="text-success">@successText</div>
        </form>
    </div>
</div>

@code {

    private UserDto userDto;
    private string role = string.Empty;
    private string oldPassword = string.Empty;
    private string newPasswordAgain = string.Empty;
    private string newPassword = string.Empty;
    private string errorText = string.Empty;
    private string successText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        userDto = new UserDto();
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var authUser = authstate.User;
        var user = await UserManager.GetUserAsync(authUser);
        userDto = UserDto.FromUser(user);
        role = (await UserManager.GetRolesAsync(user)).FirstOrDefault();
    }

    private async Task ChangePassword()
    {
        if(newPassword != newPasswordAgain)
        {
            errorText = "A két jelszó nem egyezik!";
            return;
        }
        try
        {
            await userService.UpdatePassword(userDto, newPassword, oldPassword);
            errorText = string.Empty;
            successText = "Sikeres jelszóváltoztatás!";
        }
        catch (Exception ex)
        {
            errorText = ex.Message;
        }
    
    }
}